.modal {
  display: grid;
  padding: 0px 17px 50px 17px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 27vw;
  height: 15vw;
  box-shadow: 5px 5px;
  background-color: antiquewhite;
  align-items: flex-end;
}

.submitButton {
  cursor: pointer;
  width: 15%;
  margin-top: 20px;
  position: absolute;
  right: 17px;
  bottom: 10px;
}

.addPlayerButton{
  cursor: pointer;
}