.modal{
    display: grid;
    padding: 17px 17px 50px 17px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 15vw;
    box-shadow: 5px 5px;
    background-color: antiquewhite;
  }

  .submitButton{
    cursor: pointer;
    width: 20%;
    margin-top: 20px;
    position: absolute;
    right: 17px;
    bottom: 10px;
  }